html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #ccc;
}

.container {
  width: 80%;
}

a, a:hover {
  text-decoration: none;
  color: #00ff00;
}

nav {
  position: fixed;
  display: block;
  width: 60px;
  height: 100vh;
  background-color: #797979;
  text-align: center;
  z-index: 1000;
}

nav .brand {
  font-size: 3rem;
  font-weight: 600;
  display: block;
  background-color: #555555;
}

nav .menu {
  display: block;
  margin-top: 5rem;
}

nav .menu a {
  display: block;
}

nav .menu a, nav .social a {
  color: #ffffff;
  -webkit-transition: color 320ms ease-in;
  -moz-transition: color 320ms ease-in;
  -ms-transition: color 320ms ease-in;
  -o-transition: color 320ms ease-in;
  transition: color 320ms ease-in;
}

nav .menu a:hover, nav .menu a.active, nav .social a:hover {
  color: #87ffe3;
}

nav .social {
  margin-top: 3rem;
}

nav .social a {
  display: inline-block;
  margin-bottom: 5px;
}

section {
  min-height: 100vh;
  margin-left: 60px;
}

section:nth-child(odd) {
  background-color: #242424;
}

section:nth-child(even) {
  background-color: #318c48;
}

.container h2 {
  margin-top: 6rem;
  font-weight: 800;
  font-size: 2.5rem;
}

.welcome {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin-top: 6rem;
}

.pink {
  color: #ff4f89;
}

.blue {
  color: #00ffc3;
}

#home button {
  margin-top: 3rem;
  width: 150px;
  font-size: 1.3rem;
  border: 1px solid #64ffdb;
  border-radius: 5px;
  color: #68b1a0;
  background-color: #9e3232;
  -webkit-transition: background 320ms ease-in;
  -moz-transition: background 320ms ease-in;
  -ms-transition: background 320ms ease-in;
  -o-transition: background 320ms ease-in;
  transition: background 320ms ease-in;
}

#home button:hover {
  background-color: #4ba590;
  color: #56b865;
}

.text-container {
  width: 50%;
  text-align: justify;
}

#about .text-container {
  float: right;
}

.text-container p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#works h2 {
  margin-bottom: 2rem;
}

.img-thumbnail {
  width: 300px;
  height: 200px;
  background-color: #fff;
  padding: 2px;
  border-radius: 2px;
}

.form-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: -1rem;
}

form {
  margin-top: 3rem;
}

.form-container input, .form-container textarea, .form-container button {
  margin: 0 auto;
  display: block;
}

input, textarea {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: .7rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

textarea {
  height: 120px;
  resize: none;
}

form button {
  margin-top: 3rem;
  width: 150px;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid #f06292;
  border-radius: 5px;
  color: #f06292;
  background-color: #444;
  -webkit-transition: background 320ms ease-in;
  -moz-transition: background 320ms ease-in;
  -ms-transition: background 320ms ease-in;
  -o-transition: background 320ms ease-in;
  transition: background 320ms ease-in;
}

form button:hover {
  background-color: #f06292;
  color: #444;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #242424;
  color: #fff;
}


.bsod {
  font-family: 'VT323', monospace;
  font-size: 20px;
  padding-top: 10%;
  margin-left: 0;
  min-height: 100vh;
  background-color: #0414a7;
}

.bsod p {
  color: #e0e2f4;
  font-family: 'VT323', monospace;
  font-size: 20px;
  line-height: 1.25rem;
}

.bsod .neg {
  text-align: center;
  color: #0414a7;
  font-family: 'VT323', monospace;
  font-size: 2.75rem;
}

.bsod .neg .bg {
  background: #aaaaaa;
  padding: 0 15px 2px 13px;
}

.bsod .title {
  margin-bottom: 50px;
}

.bsod .nav {
  position: static;
  display: block;
  width: auto;
  height: auto;
  background-color: transparent;
  margin-top: 35px;
  text-align: center;
}

.bsod .nav .link {
  text-decoration: none;
  padding: 0 9px 2px 8px;
  color: #e0e2f4;
  background-color: transparent;
}

.bsod .nav .link:focus {
  background: #aaaaaa;
  color: #0414a7;
}